/* Main keypad container */
.keypad {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 2px solid gray;
  border-radius: 16px;
}

/* Keypad value display */
.keypad-display {
  position: relative;
  margin-bottom: 32px;
  padding: 8px 12px;
  text-align: right;
  font-size: 24px;
  font-family: monospace;
  border-radius: 8px;
  background-color: #efefef;
}

.keypad-display__reset {
  position: absolute;
  left: 12px;
  height: 28px;
  width: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 2px solid #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 100px;
  cursor: pointer;
}

/* Keypad keys container */
.keypad-keys {
  display: flex;
  flex-direction: column;
  margin: -4px;
}

.keypad-keys__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.keypad-keys__digit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 4px;
  font-size: 22px;
  font-family: monospace;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  background-color: #f9f9f9;
}

.keypad-keys__digit.is-disabled {
  cursor: not-allowed;
  background-color: transparent;
  color: grey;
}

.keypad-keys__digit:not(.is-disabled):hover {
  background-color: #efefef;
}
